[Unit]
Description=Check the INF2006 ingress certificate renewal schedule daily

[Timer]
OnCalendar=daily
RandomizedDelaySec=2h
Persistent=true

[Install]
WantedBy=timers.target
