APP_ENV=development
APP_ORIGIN=http://localhost:8080
GOOGLE_CLIENT_ID=REPLACE_WITH_GOOGLE_WEB_CLIENT_ID
APP_SIGNING_KEY=b8bfa12ab596f543a50ee5f3121b0c7bd032f2c53abfa3f2dc548f05a8e1457d
POSTGRES_USER=app_user
POSTGRES_PASSWORD=change_me_locally
POSTGRES_DB=internship_matcher
DATABASE_URL=postgresql+psycopg://app_user:change_me_locally@db:5432/internship_matcher
